<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Select An Identity Provider</title>
        <!---->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.7.5/semantic.min.css" integrity="sha256-S4n5rcKkPwT9YZGXPue8OorJ7GCPxBA5o/Z0ALWXyHs=" crossorigin="anonymous" />
        <link rel="stylesheet" href="./style.css">
        <!---->
        <style>
            body > div { margin: 1em; }
            body { max-width: 75em; }
            form .ui.button { margin: 1em 0; }
            .prov { display: inline-flex; flex-direction: column-reverse; justify-content: center; align-items: center; margin: 1em; }
            label, object { display: block; }
        </style>
    </head>
    <body class="page-login-oauth2">
        <div class="ui main menu">
            <div class="right item">Powered by&nbsp;<a href="https://github.com/nektro/go.oauth2" target="_blank">GoOAuth2</a></div>
        </div>
        <div>
            <form action="./login" method="get">
                <fieldset>
                    <legend>Select a Provider:</legend>
                    {{$x := .clients}}
                    {{$y := .providers}}
                    {{range $x}}
                    <div class="prov">
                        <input type="radio" name="with" value="{{.For}}" id="p-{{.For}}">
                        <label for="p-{{.For}}">
                            {{$z := index $y .For}}
                            <object type="image/svg+xml" height="48" data="{{$z.Logo}}"></object>
                            <div>{{.For}}</div>
                        </label>
                    </div>
                    {{end}}
                </fieldset>
                <button class="ui button" type="submit">Login</button>                
            </form>
        </div>
    </body>
</html>
